<section data-ng-controller="BookingsViewController">


	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="daterange" class="control-label">Filter offerings by date range:</label>
					<input date-range-picker id="daterange" class="form-control date-picker" type="text" name="date" ng-model="datefilter" required/>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<cart cart="cart"></cart>
		</div>
	</div>

	<tabset>
		<tab ng-repeat="t in tabs" heading="{{t.heading}}" select="go(t.route)" active="t.active">
		</tab>
	</tabset>
	<div ui-view></div>

</section>