<div>
	<div class="booking">

		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<description>{{offering.description}}</description>
				</div>
				<div class="row">
					<h5>{{offering.date.toDateString()}}, {{offering.price | currency}}</h5>
				</div>
				<div class="row">
					<button class="btn btn-primary" data-ng-click="onAddToCart(offeringId)">
						<span class="glyphicon glyphicon-plus"></span> Add to cart
					</button>
					<button class="btn btn-primary" data-ng-click="onRemoveFromCart(offeringId)" data-ng-show="isInCart(offeringId)">
						<span class="glyphicon glyphicon-minus"></span> Remove from cart
					</button>
					<span data-ng-show="isInCart(offeringId)">
							Quantity: {{cart[offeringId]}}
						</span>
				</div>
			</div>

			<div class="col-md-4 vcenter">
				<img src={{offering.image}}></img>
			</div>
		</div>
		<div class="container">
		</div>
	</div>