<div class="booking">

	<div class="container-fluid">
		<style scoped>
			img {
				height: 100px;
				float: right;
				margin: 10px;
			}
			
			.booking {
				width: inherit;
				background-color: #f0f0d0;
				border: 2px solid #8080ff;
				border-radius: 10px;
				-webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
				margin: 10px;
				padding: 10px;
			}
			
			article {
				width: 100%;
				display: inline-block;
				padding: 10px;
			}
			
			description {
				float: left;
				font-size: 20px;
				margin: 10px;
			}
		</style>
		<div class="row">
			<description>{{offering.description}}
				<h5>{{offering.date.toDateString()}}, {{offering.price | currency}}</h5>
			</description>
			<img src={{offering.image}}></img>
		</div>
		<div>
			<button class="btn btn-primary" data-ng-click="onAddToCart(offeringId)">
				<span class="glyphicon glyphicon-plus"></span> Add to cart
			</button>
			<button class="btn btn-primary" data-ng-click="onRemoveFromCart(offeringId)" data-ng-show="isInCart(offeringId)">
				<span class="glyphicon glyphicon-minus"></span> Remove from cart
			</button>
			<span data-ng-show="isInCart(offeringId)">
				Quantity: {{cart[offeringId]}}
			</span>
		</div>
	</div>

	<!--
	<article>
		<section>
			<description>{{offering.description}}</description>
			<img src={{offering.image}}></img>
		</section>
		<div>
			<button data-ng-click="onAddToCart()">+</button>
			<button data-ng-click="onRemoveFromCart()">-</button>
			Quantity: {{parseInt(cart[id])}}
		</div>
	</article>
-->
</div>